# Archivos y carpetas de compilación
*.class
*.jar
*.war
*.ear

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
*.iml
.idea/
*.ipr
*.iws

# Archivos de log y backup
*.log
*.bak
*.tmp

target/
logs/
data/
carga_inicial/
h2-*
jpackage.txt
report1.rpt
postgresql-42.7.5.jar
resources
cache*
test.pdf
openssl/*